<a class="twitter-timeline" data-width="{{twitter_genislik}}" data-height="{{twitter_yukseklik}}" data-theme="{{twitter_tema}}" href="https://twitter.com/{{twitter_name}}?ref_src=twsrc%5Etfw"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
